@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}
@font-face {
  font-family: 'UhBeeYeonie';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeYeonie.woff') format('woff');
}
@font-face {
  font-family: 'UhBeeZIGLE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeZIGLE.woff') format('woff');
}
@font-face {
  font-family: 'UhBeeRice';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeRice.woff') format('woff');
}
@font-face {
  font-family: 'KyoboHand';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
}
@font-face {
  font-family: 'YESMyoungjo-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Bold.woff') format('woff');
 }
 @font-face {
   font-family: 'MapoDacapo';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDacapoA.woff') format('woff');
}
@font-face {
  font-family: 'ghanachoco';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
}
@font-face {
  font-family: 'SDMiSaeng';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SDMiSaeng.woff') format('woff');
}

@media screen and (max-width: 1024px) and (min-width:768px) {
  #wrap {
      font-size: 35px;
      font-family: UhBeeYeonie;
    }
}

@media screen and (max-width: 767px) and (min-width:480px) {

  #wrap {
      font-size: 25px;
      font-family: UhBeeRice;
    }

}

@media screen and (max-width: 480px) and (min-width:360px){
  #wrap {
      font-size: 20px;
      font-family: MapoDacapo;
    }

}

@media screen and (max-width: 359px) {
      #wrap {
          font-size: 15px;
          font-family: MapoDacapo;
    }

}
