@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}
@font-face {
  font-family: 'KyoboHand';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
  }

@media screen and (max-width: 1024px) and (min-width: 769px){

  #wrap {
      font-size: 35px;
      font-family: KyoboHand;
    }

}

@media screen and (max-width: 768px) and (min-width: 481px) {

  #wrap {
      font-size: 25px;
      font-family: KyoboHand;
    }

}
/*
@media screen and (max-width: 480px) {

  #wrap {
    }

}

@media screen and (max-width: 320px) {

  #wrap {
    }

} */
