@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
}
@font-face {
  font-family: 'UhBeeZIGLE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeZIGLE.woff') format('woff');
}
@font-face {
  font-family: 'UhBeeWyum';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeWyum.woff') format('woff');
}
@font-face {
  font-family: 'UhBeeTokki';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeTokki.woff') format('woff');
}
@font-face {
  font-family: 'UhBeeYeonie';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeYeonie.woff') format('woff');
}

@media screen and (max-width: 1024px) and (min-width: 769px){

  #wrap {
      font-size: 35px;
      font-family: UhBeeYeonie;
    }

}

@media screen and (max-width: 768px) and (min-width: 481px) {

  #wrap {
      font-size: 25px;
      font-family: UhBeeZIGLE;
    }

}
/*
@media screen and (max-width: 480px) {

  #wrap {
    }

}

@media screen and (max-width: 320px) {

  #wrap {
    }

} */
