@media screen and (max-width: 480px) and (min-width:359px){
	  #wrap{
	    margin: auto;
	    height: auto;
			background-image: url("https://drive.google.com/uc?export=view&id=1d28YICt_tmI8PnhIKRc-6NlVooeiFN3L");
			background-repeat: repeat-y;
	  }

	  header{
	    z-index: 1;
	    position: fixed;
	    width: 100%;
	    top: 0;
	    height: 60px;
			background-image: url("https://drive.google.com/uc?export=view&id=1w1x4JhsdfufpIxvHrnIxP279PqBt-VtR");
			background-repeat: repeat-x;
	  }
	  .menu{
	    margin: auto;
	    width: 360px;
	  }
	  .menu>li{
	    float: left;
	    width: 90px;
	    font-family: KyoboHand;
	    line-height: 50px;
	    text-align: center;
			color:#d18b83;
	    cursor: pointer;
	  }

	  section{
	    position: relative;
	    clear: both;
	    width: 100%;
	    height: auto;
	  }
	  .banner{
	    padding-top: 60px;
	    display: block;
	    width: 100%;
	    height: auto;
	  }
	  .bannerImg{
	    margin:0 auto;
	    display: block;
	    width: 360px;
	    height: 580px;
	    background-image: url("https://drive.google.com/uc?export=view&id=1Ho0dFj-HUmV0MrEAXWfSonzqAgfYavxa");
	    background-repeat: no-repeat;
	  }

	  #text{
	    clear: both;
	    margin: 0 auto;
	    padding-top:100px;
	    width: 360px;
	    height: 540px;
	  }
	  #text>p.title{
	    display: block;
	    margin: auto;
	    width:150px;
	    height: 30px;
	    line-height: 30px;
	    font-weight: bold;
			border-bottom: double 3px #d18b83;
	  }
	  #text>p.letter{
	    margin:100px 0;
	    line-height: 40px;
	  }
	  #text>p.famName{
	    font-family: ghanachoco;
	    line-height: 40px;
	  }
	  #text>p.famName>span{
	    font-size: 15px;
	    line-height: 40px;
	  }

	  #gallery{
	    clear: both;
	    padding-top:60px;
	    width: 100%;
	    height: 540px;
	  }
	  #gallery>ul>li{
	    float: left;
	    display: block;
	    cursor: pointer;
	  }
	  .view{
	    margin: auto;
	    overflow: hidden;
	    position: relative;
	    height: 540px;
	    width: 360px;
	    border-radius: 20px;
	  }
	  .picList{
	    position: absolute;
	    height: 540px;
	    width: 1800px;
	  }
	  .picList>li{
	    display: block;
	    float: left;
	    width: 360px;
	    height: 540px;
	  }
	  .picList>li:nth-child(1){background-image: url("https://drive.google.com/uc?export=view&id=1G7DhxczCkXnsna3x3ErDtXnJocaOtm35");}
	  .picList>li:nth-child(2){background-image: url("https://drive.google.com/open?id=14Mftb0pReqGP-XgpNrBtZA7qgYhI0M3s");}
	  .picList>li:nth-child(3){background-image: url("https://drive.google.com/uc?export=view&id=1N0aPq5CwqPVGfIAAY1o00OrziPOWfW9O");}
	  .picList>li:nth-child(4){background-image: url("https://drive.google.com/uc?export=view&id=1Zurw-COXhc0Xv0Nk_Z3AA_0V7aVVHiEW");}
	  .picList>li:nth-child(5){background-image: url("https://drive.google.com/uc?export=view&id=1BfdhRlNqImT9aY5pEJxQab2oPdd0f2Kk");}

	  .picButton{
	    margin: auto;
	    margin-top:10px;
	    width: 360px;
	    height: 20px;
	  }
	  .picButton>li{
	    display: block;
	    margin: 0 11px;
	    width: 50px;
	    height: 20px;
	    border-radius: 10px;
			background-color:#d18b83;
	  }
	  /* .picButton>li:nth-child(1){background-image: url(../images/768/pic/picButton/1.gif);}
	  .picButton>li:nth-child(2){background-image: url(../images/768/pic/picButton/2.gif);}
	  .picButton>li:nth-child(3){background-image: url(../images/768/pic/picButton/3.gif);}
	  .picButton>li:nth-child(4){background-image: url(../images/768/pic/picButton/4.gif);}
	  .picButton>li:nth-child(5){background-image: url(../images/768/pic/picButton/5.gif);} */

	  #contact{
	    clear: both;
	    display: block;
	    padding-top:150px;
	    width: 100%;
	    height: 490px;
	  }
	  #contact>div.contactBox{
	    margin: auto;
	    margin-bottom: 10px;
	    width: 290px;
	    height: 25px;
	  }
	  #contact>div.contactBox>p{
	    float: left;
	    font-family: ghanachoco;
			line-height: 25px;
	    width: 170px;
	  }
	  div.contactIcon{
	    float: right;
	    width: 110px;
	    height: 25px;
	  }
	  div.contactIcon>a{
	    float: left;
	    display: block;
	    margin: 0 5px;
	    width: 25px;
	    height: 25px;
	  }
	  a.kakaostory{background-image: url("https://drive.google.com/uc?export=view&id=1aj0t970sXE6N23sU5WyGuLuGws4D4pzS");}
	  a.instagram{background-image: url("https://drive.google.com/uc?export=view&id=19OoQxfT9PAEdkrmoqBxRqx0GwHvVanBa" );}
	  a.phone{background-image: url("https://drive.google.com/uc?export=view&id=1-pPSrVIj5f1BrAE-XdR61V9bkSVCWNI3");}
	  #secondBanner{
	    clear: both;
	    margin: auto;
	    margin-top:150px;
	    padding:14px 0;
	    display: block;
	    width: 360px;
	    height: 241px;
	    background-image: url("https://drive.google.com/uc?export=view&id=1bjYu624zgrHDsEzAafWqm4UPWi0o9BHD");
	  }

	  #htw{
	    clear: both;
	    padding: 60px 0;
	    width: 100%;
	    height: 600px;
	  }
	  .map{
	    margin: auto;
	    width: 359px;
	    height: 359px;
	    border: solid 1px #afafaf;
	    background-image: url("https://drive.google.com/uc?export=view&id=19TyX4rfx2bfcELW_Ev6oMECQtgVWO9sm");
	  }
	  .mapIcon{
	    display: block;
	    margin: 10px auto;
	    height: 25px;
	    width: 110px;
	  }
	  .mapIcon>a{
	    float: left;
	    display: block;
	    margin:0 5px;
	    width: 25px;
	    height: 25px;
	    background-repeat: no-repeat;
	  }
	  a.navermap{background-image: url("https://drive.google.com/uc?export=view&id=1Ex_o1Aq6dXrAQyzczCYytnHjBtu5flOS");}
	  a.googlemap{background-image: url("https://drive.google.com/uc?export=view&id=1EY5u_cFPDWBR4le0TeVjv27GhINPg2Cj");}
	  a.kakaomap{background-image: url("https://drive.google.com/uc?export=view&id=17IJr58zqVhdcnuDcpuzcZM16Ws5za4MA");}
	  .mapText{
	    font-family: SDMiSaeng;
	  }
	  .mapText>p{
	    margin-top: 20px;
	  }
	  .place{
	    font-size: 25px;
	    font-weight: bold;
	  }
	  .mapText>p>span{
	    color:#f26834;
	  }


		footer{
			position: fixed;
			top:10;
			right:0;
			width: 60px;
			padding-top: 50px;
			height: 30px;
			font-size: 12px;
			line-height: 12px;
			font-family: KyoboHand;
			border-radius: 50px;
			background-color: white;
			opacity: 0.5;
			cursor: pointer;
		}
	}
