@media screen and (max-width: 1024px) and (min-width:769px) {

  #wrap{
    margin: auto;
  }

  header{
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    background-color: #f4bfa9;
  }
  .menu{
    margin: auto;
    width: 680px;
  }
  .menu>li{
    float: left;
    width: 170px;
    font-family: yg-jalnan;
    font-size: 35px;
    line-height: 95px;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  .menu>li:hover{
    border-bottom: solid 5px white;
  }

  section{
    position: relative;
    clear: both;
    width: 100%;
  }
  .banner{
    display: block;
    width: 100%;
    height: auto;
  }
  .bannerImg{
    margin: auto;
    display: block;
    width: 768px;
    height: 1024px;
    background-image: url("https://drive.google.com/uc?export=view&id=1RU092rjZ3WP-KrZuGATywSICxpdGnE8N");
    background-repeat: no-repeat;
  }

  #text{
    clear: both;
    padding:250px 0;
    width: 100%;
    height: auto;
  }
  #text>p.title{
    display: block;
    margin: auto;
    width: 220px;
    height: 60px;
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
    background-image: url("https://drive.google.com/uc?export=view&id=1J_Dkkh3AvMrZ7SnZPMPIdtCoQdIVO6D5");
  }
  #text>p.letter{
    margin:100px 0;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
  }
  #text>p.famName{
    font-family: yg-jalnan;
    font-size: 32px;
  }
  #text>p.famName>span{
    font-size: 25px;
    line-height: 25px;
  }

  #gallery{
    clear: both;
    padding-top:100px;
    padding-bottom:30px;
    width: 100%;
    height: auto;
    background-color: #f4bfa9;
  }
  #gallery>ul>li{
    float: left;
    display: block;
    cursor: pointer;
  }
  .view{
    margin: auto;
    overflow: hidden;
    position: relative;
    height: 750px;
    width: 500px;
  }
  .picList{
    position: absolute;
    height: 750px;
    width: 2500px;
  }
  .picList>li{
    display: block;
    float: left;
    width: 500px;
    height: 750px;
  }
  .picList>li:nth-child(1){background-image: url(../images/768/pic/1.gif);}
  .picList>li:nth-child(2){background-image: url(../images/768/pic/2.gif);}
  .picList>li:nth-child(3){background-image: url(../images/768/pic/3.gif);}
  .picList>li:nth-child(4){background-image: url(../images/768/pic/4.gif);}
  .picList>li:nth-child(5){background-image: url(../images/768/pic/5.gif);}
  .picButton{
    margin: auto;
    margin-top:30px;
    width: 500px;
    height: 70px;
  }
  .picButton>li{
    display: block;
    margin: 0 15px;
    width: 68px;
    height: 68px;
    border: solid 1px white;
    border-radius: 10px;
  }
  .picButton>li:nth-child(1){background-image: url(../images/768/pic/picButton/1.gif);}
  .picButton>li:nth-child(2){background-image: url(../images/768/pic/picButton/2.gif);}
  .picButton>li:nth-child(3){background-image: url(../images/768/pic/picButton/3.gif);}
  .picButton>li:nth-child(4){background-image: url(../images/768/pic/picButton/4.gif);}
  .picButton>li:nth-child(5){background-image: url(../images/768/pic/picButton/5.gif);}

  #contact{
    clear: both;
    padding-top: 150px;
    padding-bottom:50px;
    width: 100%;
    height: auto;
    font-family: yg-jalnan;
    font-size: 30px;
    line-height: 40px;
  }
  #contact>div.contactBox{
    margin: auto;
    margin-bottom: 30px;
    width: 440px;
    height: 40px;
  }
  #contact>div.contactBox>p{
    float: left;
    line-height: 40px;
    width: 260px;
  }
  div.contactIcon{
    float: right;
    width: 180px;
    height: 40px;
  }
  div.contactIcon>a{
    float: left;
    display: block;
    margin: 0 10px;
    width: 40px;
    height: 40px;
  }
  a.kakaostory{background-image: url("https://drive.google.com/uc?export=view&id=1hUoq8EWshf34tmJX4HYWSq0vbiwI0eUX");}
  a.instagram{background-image: url("https://drive.google.com/uc?export=view&id=13h7vnCqST6h9czUjuAypR17LgGh_IAU4" );}
  a.phone{background-image: url("https://drive.google.com/uc?export=view&id=1Tdza6Ir1iTbqbZVqAfNq-Xd0mqxwJtdI");}
  #secondBanner{
    margin: auto;
    display: block;
    margin-top: 100px;
    width: 768px;
    height: 488px;
    background-image: url("https://drive.google.com/uc?export=view&id=12mqMRh8iY95IDKAQHeSwSw2s9gejZcFH");
  }

  #htw{
    clear: both;
    padding: 100px 0;
    width: 100%;
    height: auto;
  }
  .map{
    margin: auto;
    width: 766px;
    height: 498px;
    border: solid 1px #afafaf;
    background-image: url(../images/768/map.gif);
  }
  .mapIcon{
    display: block;
    margin: 30px auto;
    height: 40px;
    width: 180px;
  }
  .mapIcon>a{
    float: left;
    display: block;
    margin:0 10px;
    padding-bottom: 2px;
    width: 40px;
    height: 43px;
    border-bottom: dashed 1px #afafaf;
    background-repeat: no-repeat;
  }
  a.navermap{background-image: url("https://drive.google.com/uc?export=view&id=1hoxbSK2M3mK-vYrMlAXC3UYbImIQqOGm");}
  a.googlemap{background-image: url("https://drive.google.com/uc?export=view&id=1kPonKi4u82peCa3EofAg9xji-0Dt2_04");}
  a.kakaomap{background-image: url("https://drive.google.com/uc?export=view&id=1Tr842q1FZ-zzdcekVJn2gSGZvB-KbTQf");}
  .mapText>p{
    margin-top: 30px;
  }
  .place{
    font-size: 60px;
  }
  .mapText>p>span{
    color:#f26834;
  }


  footer{
    clear: both;
    width: 100%;
    height: 80px;
    background-color: #f4bfa9;
  }
  footer>p>a{
    cursor: pointer;
  }
  footer>p>a>b{
    font-family: yg-jalnan;
    line-height: 80px;
    color:white;
  }
}
