@media screen and (max-width: 768px) and (min-width:481px) {
  #wrap{
    margin: auto;
    height: auto;
    background-image:url("https://drive.google.com/uc?export=view&id=1ZqPeTz6gF6OYiCP2lJvfpp6UsHe6n9XO");
    background-repeat: repeat-y;
  }

  header{
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    height: 60px;
    background-image:url("https://drive.google.com/uc?export=view&id=1v-KFHfvF858DDaZgfDyS81ecbCM0Q_bw");
    background-repeat: repeat-x;
  }
  .menu{
    margin: auto;
    width: 480px;
  }
  .menu>li{
    float: left;
    width: 120px;
    font-family: KyoboHand;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    color
    : #4f4f4f;
  }

  section{
    position: relative;
    clear: both;
    width: 100%;
    height: auto;
  }
  .banner{
    padding-top: 60;
    display: block;
    width: 100%;
    height: auto;
  }
  .bannerImg{
    margin:0 auto;
    display: block;
    width: 480px;
    height: 900px;
    background-image: url("https://drive.google.com/uc?export=view&id=1-Pjm3SkQAb2Nkswu55rw-21NDkPEcdE0");
    background-repeat: no-repeat;
  }

  #text{
    clear: both;
    margin: 0 auto;
    padding-top:160px;
    width: 480px;
    height: 800px;
  }
  #text>p.title{
    display: block;
    margin: auto;
    width: 220px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
  }
  #text>p.letter{
    margin:100px 0;
    font-size: 22px;
    line-height: 50px;
  }
  #text>p.famName{
    font-family: YESMyoungjo-Bold;
    line-height: 40px;
  }
  #text>p.famName>span{
    font-size: 20px;
    line-height: 40px;
  }

  #gallery{
    clear: both;
    padding-top:80px;
    width: 100%;
    height: 880px;
  }
  #gallery>ul>li{
    float: left;
    display: block;
    cursor: pointer;
  }
  .view{
    margin: auto;
    overflow: hidden;
    position: relative;
    height: 750px;
    width: 480px;
    border-radius: 20px;
  }
  .picList{
    position: absolute;
    height: 480px;
    width: 2400px;
  }
  .picList>li{
    display: block;
    float: left;
    width: 480px;
    height: 750px;
  }
  .picList>li:nth-child(1){background-image: url(../images/768/pic/1.gif);}
  .picList>li:nth-child(2){background-image: url(../images/768/pic/2.gif);}
  .picList>li:nth-child(3){background-image: url(../images/768/pic/3.gif);}
  .picList>li:nth-child(4){background-image: url(../images/768/pic/4.gif);}
  .picList>li:nth-child(5){background-image: url(../images/768/pic/5.gif);}

  .picButton{
    margin: auto;
    margin-top:30px;
    width: 480px;
    height: 70px;
  }
  .picButton>li{
    display: block;
    margin: 0 13px;
    width: 68px;
    height: 68px;
    border: solid 1px white;
    border-radius: 10px;
  }
  .picButton>li:nth-child(1){background-image: url(../images/768/pic/picButton/1.gif);}
  .picButton>li:nth-child(2){background-image: url(../images/768/pic/picButton/2.gif);}
  .picButton>li:nth-child(3){background-image: url(../images/768/pic/picButton/3.gif);}
  .picButton>li:nth-child(4){background-image: url(../images/768/pic/picButton/4.gif);}
  .picButton>li:nth-child(5){background-image: url(../images/768/pic/picButton/5.gif);}

  #contact{
    clear: both;
    display: block;
    padding-top:160px;
    width: 100%;
    height: 800px;
  }
  #contact>div.contactBox{
    margin: auto;
    margin-bottom: 20px;
    width: 340px;
    height: 30px;
  }
  #contact>div.contactBox>p{
    float: left;
    font-family: KyoboHand;
    font-size: 30px;
    line-height: 30px;
    width: 230px;
    font-weight: bold;
  }
  div.contactIcon{
    float: right;
    width: 110px;
    height: 25px;
  }
  div.contactIcon>a{
    float: left;
    display: block;
    margin: 0 5px;
    width: 25px;
    height: 25px;
  }
  a.kakaostory{background-image: url("https://drive.google.com/uc?export=view&id=1aj0t970sXE6N23sU5WyGuLuGws4D4pzS");}
  a.instagram{background-image: url("https://drive.google.com/uc?export=view&id=19OoQxfT9PAEdkrmoqBxRqx0GwHvVanBa" );}
  a.phone{background-image: url("https://drive.google.com/uc?export=view&id=1-pPSrVIj5f1BrAE-XdR61V9bkSVCWNI3");}
  #secondBanner{
    clear: both;
    margin: auto;
    margin-top:180px;
    padding:40px 0;
    display: block;
    width: 480px;
    height: 321px;
    background-image: url("https://drive.google.com/uc?export=view&id=1SdzNvlqMzl-OOT6sP6sQyDsYb9msZQ7S");
  }
  #secondBanner:hover{
    display: block;
    padding:40px 0;
    width: 480px;
    height: 321px;
    background-image: url("https://drive.google.com/uc?export=view&id=1zVPre__mL9KCVNSD675dtJ7UbP_CkD6l");
  }

  #htw{
    clear: both;
    padding: 60px 0;
    width: 100%;
    height: 900px;
  }
  .map{
    margin: auto;
    width: 480px;
    height: 440px;
    border: solid 1px #afafaf;
    background-image: url("https://drive.google.com/uc?export=view&id=1KnTYy7I3uTGhI8AcCdV0AsVyT1xR7D-J");
  }
  .mapIcon{
    display: block;
    margin: 10px auto;
    height: 25px;
    width: 110px;
  }
  .mapIcon>a{
    float: left;
    display: block;
    margin:0 5px;
    padding-bottom: 2px;
    width: 25px;
    height: 25px;
    border-bottom: dashed 1px #afafaf;
    background-repeat: no-repeat;
  }
  a.navermap{background-image: url("https://drive.google.com/uc?export=view&id=1Ex_o1Aq6dXrAQyzczCYytnHjBtu5flOS");}
  a.googlemap{background-image: url("https://drive.google.com/uc?export=view&id=1EY5u_cFPDWBR4le0TeVjv27GhINPg2Cj");}
  a.kakaomap{background-image: url("https://drive.google.com/uc?export=view&id=17IJr58zqVhdcnuDcpuzcZM16Ws5za4MA");}
  .mapText{
    font-family: UhBeeZIGLE;
  }
  .mapText>p{
    margin-top: 20px;
  }
  .place{
    font-size: 35px;
    font-weight: bold;
  }
  .mapText>p>span{
    color:#f26834;
  }


  footer{
    clear: both;
    width: 100%;
    height: 60px;
    background-color: gray;
  }
  footer>p>a{
    cursor: pointer;
  }
  footer>p>a>b{
    font-family: UhBeeZIGLE;
    line-height: 60px;
    color:white;
  }
}
