@media screen and (max-width: 768px) and (min-width:481px) {
  #wrap{
    background-image:url("https://drive.google.com/uc?export=view&id=1ZqPeTz6gF6OYiCP2lJvfpp6UsHe6n9XO");
    background-repeat: repeat-y;
  }

  header{
    height: 60px;
    background-image:url("https://drive.google.com/uc?export=view&id=1v-KFHfvF858DDaZgfDyS81ecbCM0Q_bw");
    background-repeat: repeat-x;
  }
  .menu{
    margin: auto;
    width: 480px;
  }
  .menu>li{
    float: left;
    width: 120px;
    font-family: KyoboHand;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    color: #4f4f4f;
  }

  .banner{
    padding-top: 60;
    display: block;
    width: 100%;
    height: auto;
  }
  .bannerImg{
    margin:0 auto;
    display: block;
    width: 480px;
    height: 900px;
    background-image: url("https://drive.google.com/uc?export=view&id=1-Pjm3SkQAb2Nkswu55rw-21NDkPEcdE0");
    background-repeat: no-repeat;
  }

  #text{
    clear: both;
    margin: 0 auto;
    padding-top:160px;
    width: 480px;
    height: 800px;
  }
  #text>p.title{
    display: block;
    margin: auto;
    width: 220px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
  }
  #text>p.letter{
    margin:100px 0;
    font-size: 22px;
    line-height: 50px;
  }
  #text>p.famName{
    font-family: YESMyoungjo-Bold;
    line-height: 40px;
  }
  #text>p.famName>span{
    font-size: 20px;
    line-height: 40px;
  }

  #gallery{
    clear: both;
    padding-top:80px;
    width: 100%;
    height: 880px;
  }
  #gallery>ul>li{
    float: left;
    display: block;
    cursor: pointer;
  }
  .view{
    margin: auto;
    overflow: hidden;
    position: relative;
    height: 750px;
    width: 480px;
    border-radius: 20px;
  }
  .picList{
    position: absolute;
    height: 480px;
    width: 2400px;
  }
  .picList>li{
    display: block;
    float: left;
    width: 480px;
    height: 750px;
    background-repeat: no-repeat;
  }
  .picList>li:nth-child(1){background-image: url("https://drive.google.com/uc?export=view&id=1T4pYt-GFXSpFiW3KwLV6MPXoIkc_LecP");}
  .picList>li:nth-child(2){background-image: url("https://drive.google.com/uc?export=view&id=1TI3SLdfGRJJ-gYlwBuR9mH9ZuCYUxiHZ");}
  .picList>li:nth-child(3){background-image: url("https://drive.google.com/uc?export=view&id=1BuuzU9OtauDQe48Z48jgwNdXJ1hCv8Re");}
  .picList>li:nth-child(4){background-image: url("https://drive.google.com/uc?export=view&id=1IZa3zCRUFW9Fp92z8CSYqr7l49U7L6Vq");}
  .picList>li:nth-child(5){background-image: url("https://drive.google.com/uc?export=view&id=1b4B-PqrJS4giBzK6_vC0sFiN1x978L1D");}

  .picButton{
    margin: auto;
    margin-top:30px;
    width: 480px;
    height: 70px;
  }
  .picButton>li{
    display: block;
    margin: 0 13px;
    width: 68px;
    height: 68px;
    border: solid 1px white;
    border-radius: 10px;
    background-repeat: no-repeat;
  }
  .picButton>li:nth-child(1){background-image: url("https://drive.google.com/uc?export=view&id=1M5txEMvHjPcfmeFFSXsDhi_LpMU5y0fC");}
  .picButton>li:nth-child(2){background-image: url("https://drive.google.com/uc?export=view&id=1gDJgaT6kcxEJNtpTc-mOnXMMuvV2my6x");}
  .picButton>li:nth-child(3){background-image: url("https://drive.google.com/uc?export=view&id=13ScxnEsZCjJhrDPAwtkpN71Qbc52do6U");}
  .picButton>li:nth-child(4){background-image: url("https://drive.google.com/uc?export=view&id=1L7WeUdpeTxF_79ux3Ka8MQIw0saM5JhH");}
  .picButton>li:nth-child(5){background-image: url("https://drive.google.com/uc?export=view&id=1GqBaWJft8ZZvk1nDiWbPA3WOFdmrAHRT");}

  #contact{
    clear: both;
    display: block;
    padding-top:160px;
    width: 100%;
    height: 800px;
  }
  #contact>div.contactBox{
    margin: auto;
    margin-bottom: 20px;
    width: 340px;
    height: 30px;
  }
  #contact>div.contactBox>p{
    float: left;
    font-family: KyoboHand;
    font-size: 30px;
    line-height: 30px;
    width: 230px;
    font-weight: bold;
  }
  div.contactIcon{
    float: right;
    width: 110px;
    height: 25px;
  }
  div.contactIcon>a{
    float: left;
    display: block;
    margin: 0 5px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
  }
  a.kakaostory{background-image: url("https://drive.google.com/uc?export=view&id=1aj0t970sXE6N23sU5WyGuLuGws4D4pzS");}
  a.instagram{background-image: url("https://drive.google.com/uc?export=view&id=19OoQxfT9PAEdkrmoqBxRqx0GwHvVanBa" );}
  a.phone{background-image: url("https://drive.google.com/uc?export=view&id=1-pPSrVIj5f1BrAE-XdR61V9bkSVCWNI3");}
  #secondBanner{
    clear: both;
    margin: auto;
    margin-top:180px;
    padding:40px 0;
    display: block;
    width: 480px;
    height: 321px;
    background-image: url("https://drive.google.com/uc?export=view&id=1SdzNvlqMzl-OOT6sP6sQyDsYb9msZQ7S");
    background-repeat: no-repeat;
  }
  #secondBanner:hover{
    display: block;
    padding:40px 0;
    width: 480px;
    height: 321px;
    background-image: url("https://drive.google.com/uc?export=view&id=1zVPre__mL9KCVNSD675dtJ7UbP_CkD6l");
    background-repeat: no-repeat;
  }

  #htw{
    clear: both;
    padding: 60px 0;
    width: 100%;
    height: 900px;
  }
  .map{
    margin: auto;
    width: 479px;
    height: 439px;
    border: solid 1px #afafaf;
    background-image: url("https://drive.google.com/uc?export=view&id=1KnTYy7I3uTGhI8AcCdV0AsVyT1xR7D-J");
    background-repeat: no-repeat;
  }
  .mapIcon{
    display: block;
    margin: 10px auto;
    height: 25px;
    width: 110px;
  }
  .mapIcon>a{
    float: left;
    display: block;
    margin:0 5px;
    padding-bottom: 2px;
    width: 25px;
    height: 25px;
    border-bottom: dashed 1px #afafaf;
    background-repeat: no-repeat;
  }
  a.navermap{background-image: url("https://drive.google.com/uc?export=view&id=1Ex_o1Aq6dXrAQyzczCYytnHjBtu5flOS");}
  a.googlemap{background-image: url("https://drive.google.com/uc?export=view&id=1EY5u_cFPDWBR4le0TeVjv27GhINPg2Cj");}
  a.kakaomap{background-image: url("https://drive.google.com/uc?export=view&id=17IJr58zqVhdcnuDcpuzcZM16Ws5za4MA");}
  .mapText{
    font-family: UhBeeZIGLE;
  }
  .mapText>p{
    margin-top: 20px;
  }
  .place{
    font-size: 35px;
    font-weight: bold;
  }


  footer{
    position: fixed;
    bottom:10;
    right:10;
    width: 50px;
    height: 50px;
    font-size: 12px;
    line-height: 50px;
    font-family: KyoboHand;
    border-radius: 50px;
    background-color: white;
    opacity: 0.5;
    cursor: pointer;
  }
}
